.content-page-wrapper {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include responsive(tab-land) {
    font-size: 14px;
  }
  @include responsive(tab-port) {
    grid-template-columns: 1fr;
    font-size: 14px;
  }
  @include responsive(phone) {
    font-size: 14px;
  }

  
 
  .left-column {
    border: 1px solid black;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
    padding: 10px;
  }

  .right-column {
    border: 1px solid black;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
    padding: 10px;
  }
  
}
