.content-page-wrapper {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .left-column-image {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
}
