.blog-content-wrapper {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 0px 15px;

  .blogs-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 75vw;

    ul {
      padding: 0px;
    }
  }

  .create-blog-link {
    position: fixed;
    right: 0;
    bottom: 0;
  }

  .icon-wrapper {
    display: flex;
  }

  .icon {
    font-size: 1.2rem;
    color: #fdee30;
    background-color: #2d383a;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;

    &:hover {
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }
  }
}
