.blog-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 0px 15px;
  
  .blogs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: calc(100vh - 87px);
    width: 75vw;
  }

  .create-blog-link {
    position: fixed;
    right: 0;
    bottom: 0;
  }
}