.content-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px 15px 0px 15px;
  
  .major-news-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black ;
    height: calc(100vh - 87px);
  }

  .recent-news-wrapper {
    border: 1px solid black ;
  }
}
