.navigation-wrapper {
  background-color: grey;
  border: 1px solid black;
  width: 100%;

  a {
    padding: 20px;
  }

  .logo-wrapper {
    display: flex;
    justify-content: left;
    align-content: center;
    
  }

  .nav-links-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
