.navigation-wrapper {
  background-color: #2d383a;
  border: 1px solid;
  width: 100%;
  height: 80px;
  display: flex;

  .logo-wrapper {
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
    background-color: #fdee30;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-content: center;

    a {
      color: black;
      padding: 3px;
      margin: 3px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .nav-links-wrapper {
    display: flex;
    justify-content: right;
    align-content: center;

    a {
      font-family: "Roboto", sans-serif;
      color: white;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      transition: 0.3s ease-in-out;

      &:hover {
        color: #fdee30;
      }
    }

    .login-button {
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      font-weight: bold;
      background-color: #fdee30;
      border-radius: 12px;

      a {
      color: black;

      &:hover {
        text-decoration: underline;
      }
      }
    }
  }
}
