.navigation-wrapper {
  background-color: #2D383A ;
  border: 1px solid black;
  width: 100%;

  a {
    color: #000000;
    padding: 20px;
    display: flex;
  }

  .logo-wrapper {
    display: flex;
    justify-content: left;
    align-content: center;
  }

  .nav-links-wrapper {
    display: flex;
    justify-content: center;
    align-content: right;
  }

  .nav-button {
    background-color: #fdee30;
    border-radius: 15px;
  }
}


